.app {
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clicker {
  width: 250px;
  padding: 16px 32px;
  border: solid 2px #ccc;
  background-color: #eaeaea;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.clicker > button {
  padding: 10px;
  font-size: 1rem;
  font-weight: 700;
}
